openapi: 3.0.3
info:
  title: Vienna OS API
  description: AI Agent Governance Platform
  version: 1.0.0
  contact:
    email: support@regulator.ai
servers:
  - url: https://console.regulator.ai/api/v1
    description: Production
security:
  - bearerAuth: []
paths:
  /auth/login:
    post:
      summary: Authenticate user
      tags: [Authentication]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
  /execute:
    post:
      summary: Execute action with governance
      tags: [Execution]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteResponse'
  /approvals:
    get:
      summary: List approval requests
      tags: [Approvals]
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, approved, rejected]
        - in: query
          name: tier
          schema:
            type: string
            enum: [T0, T1, T2, T3]
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Approval'
  /approvals/{id}/approve:
    post:
      summary: Approve action
      tags: [Approvals]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reviewer_id:
                  type: string
                notes:
                  type: string
      responses:
        '200':
          description: Success
  /warrants:
    get:
      summary: List warrants
      tags: [Warrants]
      responses:
        '200':
          description: Success
  /warrants/verify:
    post:
      summary: Verify warrant signature
      tags: [Warrants]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [warrant_id, signature]
              properties:
                warrant_id:
                  type: string
                signature:
                  type: string
      responses:
        '200':
          description: Success
  /executions:
    get:
      summary: List executions
      tags: [Executions]
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Success
  /health:
    get:
      summary: Health check
      tags: [Monitoring]
      security: []
      responses:
        '200':
          description: Healthy
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
        token:
          type: string
        user:
          type: object
          properties:
            id:
              type: string
            email:
              type: string
            name:
              type: string
            role:
              type: string
    ExecuteRequest:
      type: object
      required: [action, agent_id]
      properties:
        action:
          type: string
        agent_id:
          type: string
        context:
          type: object
          additionalProperties: true
    ExecuteResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            execution_id:
              type: string
            warrant_id:
              type: string
            status:
              type: string
              enum: [executed, pending_approval]
            tier:
              type: string
            requires_approval:
              type: boolean
    Approval:
      type: object
      properties:
        approval_id:
          type: string
        execution_id:
          type: string
        required_tier:
          type: string
        status:
          type: string
        action_summary:
          type: string
        requested_at:
          type: string
          format: date-time
  /auth/register:
    post:
      summary: Register new user and tenant
      tags: [Authentication]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
                name: { type: string }
                company: { type: string }
      responses:
        '201': { description: User created with tenant }
  /auth/forgot-password:
    post:
      summary: Request password reset email
      tags: [Authentication]
      security: []
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email: { type: string, format: email }
      responses:
        '200': { description: Reset email sent (always succeeds for security) }
  /auth/reset-password:
    post:
      summary: Reset password with token
      tags: [Authentication]
      security: []
      requestBody:
        content:
          application/json:
            schema:
              required: [token, user_id, new_password]
              properties:
                token: { type: string }
                user_id: { type: string, format: uuid }
                new_password: { type: string, minLength: 8 }
      responses:
        '200': { description: Password updated }
  /agents:
    get:
      summary: List registered agents
      tags: [Agents]
      responses:
        '200': { description: Agent list (tenant-filtered) }
  /proposals:
    get:
      summary: List proposals
      tags: [Pipeline]
      responses:
        '200': { description: Proposal list (tenant-filtered) }
  /policies:
    get:
      summary: List policies
      tags: [Policies]
      responses:
        '200': { description: Policy list (tenant-filtered) }
  /agent/intent:
    post:
      summary: Submit intent through governance pipeline
      tags: [Pipeline]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required: [action, agent_id]
              properties:
                action: { type: string }
                agent_id: { type: string, format: uuid }
                risk_tier: { type: integer, enum: [0,1,2,3] }
                params: { type: object }
                simulation: { type: boolean }
      responses:
        '200': { description: Pipeline result with proposal, evaluation, and optional warrant }
  /audit/recent:
    get:
      summary: Recent audit trail entries
      tags: [Audit]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
      responses:
        '200': { description: Audit entries (tenant-filtered) }
  /webhooks:
    get:
      summary: List webhooks
      tags: [Webhooks]
      responses:
        '200': { description: Webhook list }
    post:
      summary: Create webhook
      tags: [Webhooks]
      requestBody:
        content:
          application/json:
            schema:
              required: [url]
              properties:
                url: { type: string, format: uri }
                events: { type: array, items: { type: string } }
      responses:
        '201': { description: Webhook created }
  /stats:
    get:
      summary: Dashboard stats and metrics
      tags: [Analytics]
      parameters:
        - name: period
          in: query
          schema: { type: string, enum: ['24h','7d','30d','all'], default: '7d' }
      responses:
        '200': { description: Execution, approval, agent, policy metrics with risk distribution }
  /stats/executions/trends:
    get:
      summary: Execution time-series data
      tags: [Analytics]
      parameters:
        - name: days
          in: query
          schema: { type: integer, default: 7 }
      responses:
        '200': { description: Daily execution counts }
  /stats/risk-distribution:
    get:
      summary: Risk tier distribution
      tags: [Analytics]
      responses:
        '200': { description: Breakdown by T0-T3 }
  /execution-records:
    get:
      summary: Execution history (derived from warrants + proposals)
      tags: [Pipeline]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
        - name: status
          in: query
          schema: { type: string, enum: [executed, denied, revoked, expired] }
      responses:
        '200': { description: Execution records with agent, action, status }
  /runtime/stats:
    get:
      summary: Runtime pipeline metrics
      tags: [Monitoring]
      parameters:
        - name: window
          in: query
          schema: { type: string, enum: ['5m','1h','24h','7d'], default: '5m' }
      responses:
        '200': { description: Pipeline throughput, error rates, queue depth }
  /stream/events:
    get:
      summary: Server-Sent Events stream
      tags: [Monitoring]
      responses:
        '200':
          description: SSE event stream
          content:
            text/event-stream: {}
  /compliance/generate:
    post:
      summary: Generate compliance report
      tags: [Compliance]
      requestBody:
        content:
          application/json:
            schema:
              properties:
                period: { type: string, enum: ['24h','7d','30d','90d'], default: '30d' }
      responses:
        '200': { description: Generated compliance report with summary and risk breakdown }
  /settings:
    get:
      summary: System configuration
      tags: [System]
      responses:
        '200': { description: Runtime settings }
